<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header>
        <div class="title">
          <a class="brand-bars logo" href="/"></a>
          <h1>
            <a href="/">{{ page.title }}</a>
            {% if page.subtitle %}<span class="subtitle">{{ page.subtitle }}</span>{% endif %}
            <a href="#{{ page.slug }}"></a>
          </h1>
        </div>
        <div class="subhead">
          <div class="subwrapper">
            <a href="mailto: contact@onym.co">Contact</a>
          </div>
        </div>
      </header>
      <main>
        {{ content }}
      </main>
    </div>
    <div id="bottom-banner" class="brand-bars"></div>
  </body>
</html>
