$black: #000;
$white: #FFF;
$grey: #828282;
$rainbow: #F2F2F2 #FF6253 #F584DE #766CFD #3B67F0 #2995FA #5EDDE6 #38DC7C #424242;
$fade-light: 90%;
$fade-medium: 80%;

body {
  color: $white;
  background: $black;
}

a {
  color: inherit;
}

.brand-bars {
  $step: 100/(length($rainbow) - 2);
  $gradient: null;
  @for $i from 2 to length($rainbow) {
    $color: nth($rainbow, $i);
    @if($i != 2){
      $gradient: append($gradient, $color (($i - 2) * $step) + unquote("%"), $separator: comma);
    }
    $gradient: append($gradient, $color (($i - 1) * $step) + unquote("%"), $separator: comma);
  }
  background: linear-gradient($gradient);
}

.subtitle {
  color: $grey;
}

a:hover {
  opacity: 0.5;
}

#intro {
  .content {
    p:first-of-type {
      color: $white;
    }
    p {
      color: $grey;
    }
  }
}
